<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Cadastre-se</title>
</head>

<body>
    <div class="container">
        <div class="form">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                </div>

                <div class="input-group">
                    <form id="userform" action="/usuarios/cadastrar" method="POST">
                        <div class="input-box">
                            <label for="firstname">Nome Completo</label>
                            <input id="firstname" type="text" name="user" placeholder="Digite nome compelto" required>
                        </div>

                        <div class="input-box">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" name="mail" placeholder="Digite seu e-mail" required>
                        </div>

                        <div class="input-box">
                            <label for="password">Senha</label>
                            <input id="password" type="password" name="senha" placeholder="Digite sua senha" required>
                        </div>


                        <div class="input-box">
                            <label for="confirmPassword">Confirme sua Senha</label>
                            <input id="confirmPassword" type="password" name="confirmsenha" placeholder="Digite sua senha novamente" required>
                        </div>

                        <div class="continue-button">
                            <button type="submit">Cadastrar</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</body>

</html>